---
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "../i18n/utils";
import LanguagePicker from "./LanguagePicker.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<section class="flex p-4 w-full justify-center">
  <nav class="flex gap-8 items-center">
    <ul class="flex gap-8">
      <li class="border-b-4 hover:border-orange-500">
        <a href={translatePath("/")}>{t("nav.home")}</a>
      </li>
      <li class="border-b-4 hover:border-orange-500">
        <a href={translatePath("/about")}>{t("nav.about")}</a>
      </li>
      <LanguagePicker />
      <!-- <li class="cursor-pointer flex justify-center items-center">
        <button type="button" id="theme-selector">
          <img
            src="/sun.svg"
            alt="change_theme"
            class="w-5 h-5 hidden dark:block"
          />
          <img
            src="/moon.svg"
            alt="change_theme"
            class="w-5 h-5 dark:hidden dark:text-white"
          />
        </button>
      </li> -->
    </ul>
  </nav>
</section>

<script>
  const themeButton = document.getElementById("theme-selector");

  if (themeButton) {
    themeButton.addEventListener("click", () => {
      const isDark = document.documentElement.classList.toggle("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
  }
</script>
