<section class="flex p-4 w-full justify-center">
  <nav class="flex gap-8 items-center">
    <ul class="flex gap-8">
      <li class="border-b-4 hover:border-orange-500"><a href="/">Home</a></li>
      <li class="border-b-4 hover:border-orange-500">
        <a href="/about">About</a>
      </li>
    </ul>
  </nav>
</section>
